

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #00b4db, #0083b0);
    background-position: right center; 
    position: "fixed";
}

.box {
    width: 500px;
    height: 300px;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: -10px 10px 14px rgba(108, 111, 114, 0.45);
    position: "fixed";
  }

  .boxEmail {
    width: 500px;
    margin-top: 50px;
    background:white;
    border-radius: 5px;
    text-align: center;
    border-width: 10px;
    border-color: red;
    
}

.email {
    background:#f3eeed;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 15px;
    margin-bottom: 10px;
    height: 30px;
    flex-direction: row;
    display: flex;
    border-width: 1.5px;
    
    border-color: #8f8d8d;
    border-style: solid;
    border-radius: 5px; 
    width: 60%;   
}

.logo img{ 
    max-width:200px;
    max-height:200px;
    width: auto;
    height: auto;
}


.button {
   
    width: 200px;
    background-Image: linear-gradient(to right, #146347 0%, #339b59 51%, #13835c 100%);
    background-Position: right center;
    box-shadow: -5px 5px 14px rgba(108, 111, 114, 0.45);
}

.textEmail {
    text-Align: center;
    font-Size: 13px;
    padding-Top: 3px;
    width: 300px;
}

.bottom {
  position: fixed;
  bottom: 10px;
  color: white;
  font-family: serif;
  animation: go-back 3s infinite alternate;
}


@keyframes go-back {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(-100px);
    }
}